<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %5p %c{2} - %m%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="stdout" />
    </root>

    <!--매퍼가 추가되면 해당 경로를 더 추가하여 로깅이 될수 있도록 하면 된다.-->
    <logger name="org.choongang.start.member.mapper" level="INFO" />
    <logger name="org.choongang.grade.mapper" level="DEBUG" />
    <logger name="org.choongang.studentgrade.mapper" level="DEBUG" />
    <logger name="org.choongang.lecture.mapper" level="INFO" />
    <logger name="org.choongang.studentManagement.mapper" level="INFO" />
</configuration>